*{
    margin: 0%;
    padding: 0%;
    color: black;
}

nav{
    width:100%;
    height: 80px;
    border-bottom: 5px solid rgb(39, 141, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    width: 10%;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav .logo img{
    width: auto;
    height: 100% ;
    object-fit: cover;
}
nav .name{
    width: 15%;
    height: auto;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav form{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav form input{
    width: 70%;
    height: 40px;
    padding: 0px 20px;
    font-size: large;
    border-radius: 10px;
}
nav form input:focus{
    border: 1px solid ;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}

nav form button{
    width: 10%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 141, 209);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

nav form button:hover{
    background-color: white ;
    color: black;
    border: 1px solid;
    box-shadow: 0px 0px 20px rgba(30, 144, 255, 0.5);
}
.Signup{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login{
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main{
 width: 28%;
 height: 80%;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.main form{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.main form input{
    width: 70%;
    padding: 3% 8%;
    border-radius:10px;
    border: 2px solid;
}
.main form input:hover{
    border: 2px solid rgb(39, 141, 209);
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}
.main form input:focus{
    border:2px solid rgb(39, 141, 209) ;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}
.main form button{
    width: 40%;
    height: 15%;
    border: none;
    border-radius: 10px;
    background-color: rgb(39, 141, 209);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.main form button:hover{
    background-color: white;
    color: black;
    border: 1px solid;
}
.main .welcome{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.main .welcome img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
.main .Login-page{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .Login-page .link{
    text-decoration: none;
    color: rgb(39, 141, 209);
}
.main .signup-page{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .signup-page .link{
    text-decoration: none;
    color: rgb(39, 141, 209);
}
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .list{
    width: 70%;
    height: 80px;
    border: 2px solid rgb(0, 153, 255);
    background-color: rgb(131, 206, 255);
    box-shadow:0 0 20px 8px rgba(173, 216, 230, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
main .list input{
    display: none;
}
main .list .note{
    width: 70%;
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: large;
    background: rgb(131, 206, 255);
    backdrop-filter: blur(6px);
    padding: 15px 12px;
}
main .list .checkmark{
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease
}

main .list input:checked + .checkmark::after {
  content: "✔";
  color: green;
  font-size: 18px;
  position: absolute;
  top: 2px;
  left: 7px;
}

main .list .delete{
    cursor: pointer;
    transition: 0.2s;
}
main .list .delete:hover{
    scale: 1.8;
}